body{background: #434343;padding: 10%;text-align: center;}
.calc{margin-bottom: 20px; font-family: verdana; font-size: 2em; color: white}
.result{border: 1px solid #989898;margin: auto; width: 250px; padding-top: 10px;height: 25px; color: white}